<div class='card'>
    <div class='card-body'>
        <h5 class='card-title'><strong>Filters</strong></h5>
        <h6 class='card-text'>Launch Year</h6>
        <hr>
        <button class='btn btn-success' *ngFor='let year of years; let i = index'
            [ngClass]='{"btn-danger": yearFlag[i]}' (click)='applyFilter("launch_year",year,i)'
            data-message='This is from the launch year filter button'>
            {{year}}
        </button>
        <br><br>
        <h6 class='card-text'>Successful Launch</h6>
        <hr>
        <button class='btn btn-success' *ngFor='let value of launch; let i = index'
            [ngClass]='{"btn-danger": launchFlag[i]}' (click)='applyFilter("launch_success",value.toLowerCase(),i)'
            data-message="This is from the launch success filter button">
            {{value}}
        </button>
        <br><br>
        <h6 class='card-text'>Successful Landing</h6>
        <hr>
        <button class='btn btn-success' *ngFor='let value of land; let i = index'
            [ngClass]='{"btn-danger": landFlag[i]}' (click)='applyFilter("land_success",value.toLowerCase(),i)'
            data-message="This is from the land success filter button">
            {{value}}
        </button>
    </div>
</div>