/* Mobile view */
@media (max-width: 700px) { 
    .column {
        margin: 1rem;
        width: 95%;
    }
    
    .card {
        width: 90%;
        padding: 0.5rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }
    
    .card-img-top {
        background-color: rgb(245, 244, 244);
    }
    
    .card-title {
        color: rgb(25, 87, 180);
    }
    
    p {
        color: rgb(74, 127, 207);
    }

    .error {
        color: red;
    }
}

/* Tablet view */
@media (min-width: 701px) and (max-width: 1024px) { 
    .row {
        margin-left: 0.2rem;
    }
    .column {
        margin-bottom: 1rem;
        width: 50%;
    }
    
    .card {
        width: 90%;
        padding: 0.5rem;
    }
    
    .card-img-top {
        background-color: rgb(245, 244, 244);
    }
    
    .card-title {
        color: rgb(25, 87, 180);
    }
    
    p {
        color: rgb(74, 127, 207);
    }

    .error {
        color: red;
    }
}

/* Desktop view */

@media (min-width: 1025px) and (max-width: 1440px) { 
    .column {
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        width: 24%;
    }
    
    .card {
        width: 90%;
        padding: 0.5rem;
    }
    
    .card-img-top {
        background-color: rgb(245, 244, 244);
    }
    
    .card-title {
        color: rgb(25, 87, 180);
    }
    
    p {
        color: rgb(74, 127, 207);
    }

    .error {
        color: red;
    }
}

/* above 1440px View */

@media (min-width: 1441px) {
    .column {
        margin-bottom: 1rem;
        margin-left: 1rem;
        width: 17.5rem;
    }
    
    .card {
        width: 90%;
        padding: 0.5rem;
    }
    
    .card-img-top {
        background-color: rgb(245, 244, 244);
    }
    
    .card-title {
        color: rgb(25, 87, 180);
    }
    
    p {
        color: rgb(74, 127, 207);
    }

    .error {
        color: red;
    }
}