<div class='container-fluid'>
    <header>
        <h2><strong>SpaceX Launch Programs</strong></h2>
    </header>
    <main>
        <div class='row'>
            <div class='col-xs-12 col-md-4 col-xl-2'>
                <app-filter></app-filter>
            </div>
            <div class='col-xs-12 col-md-8 col-xl-10'>
                <app-launch-card></app-launch-card>
            </div>
        </div>
    </main>
    <footer>
        <h4><strong>Developed By: </strong>Sourav Sharma</h4>
    </footer>
</div>